<% content_for :title do %>Groups<% end %>
<div class="row">
  <div class="large-12 columns">
    <h3>Groups</h3>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <table>
      <tr>
        <th>Group</th>
      </tr>

      <% @groups.each do |group| %>
        <tr>
          <td><%= link_to group.name, group_path(group) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="large-12 columns">
    <%= link_to "Back", :back, class: "button" %>
  </div>
</div>
