-content_for :title do
  Corrections Event

.row
  .large-8.columns
    Title:
    = @corrections_event.title
    .br
    Start:
    = @corrections_event.start.strftime("%v %r")
    .br
    End:
    = @corrections_event.end.strftime("%v %r")
    .br
    All Day:
    = @corrections_event.allDay
    .br

    .form
      =simple_form_for @corrections_event do |f|
        =f.error_notification
        =f.association :event_schedule, as: :hidden
        =f.input :title, as: :hidden
        =f.input :start, as: :hidden
        =f.input :end, as: :hidden
        =f.input :allDay, as: :hidden
        =f.button :submit

