<% content_for :title do %>
  AA District 34 Quinte East - 12 Steps
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div><strong>The Twelve Steps</strong></div>
    </div>
  </div>
</div>

