<% content_for :title do %>
  AA District 34 Quinte East - About
<% end %>
<br/>
<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>WHAT IS A.A.?</strong></div>
      <p>Alcoholics Anonymous is a voluntary, worldwide fellowship of men and women from all walks of life who meet together to attain and maintain sobriety. The only requirement for membership is a desire to stop drinking.  There are no dues or fees for A.A. membership.</p>
    </div>
    <div class="text-panel">
      <div><strong>CURRENT MEMBERSHIP</strong></div>
      <p>It is estimated that there are more than 100,000 groups and over 2,000,000 members in 150 countries.</p>
    </div>

  </div>
</div>

<div class="row">
  <div class="small-12 large-6 content-columns">
      </div>
</div>
