<% content_for :title do %>
  AA District 34 Quinte East - About
<% end %>
<br/>
<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>What is A.A.?</strong></div>
      <p>Alcoholics Anonymous is a voluntary, worldwide fellowship of men and women from all walks of life who meet together to attain and maintain sobriety. The only requirement for membership is a desire to stop drinking.  There are no dues or fees for A.A. membership.</p>
    </div>

    <div class="text-panel">
      <div><strong>Current Membership</strong></div>
      <p>It is estimated that there are more than 100,000 groups and over 2,000,000 members in 150 countries.</p>
    </div>

    <div class="text-panel">
      <div><strong>A.A. In Quinte East</strong></div>
      <p>There are over 30 meetings held in the Quinte East Area. For a list of meetings <%= link_to 'click here', meetings_path %>.  To speak to a member of A.A. in Quinte East call our number <span class="nobr"><strong>1-877-961-2134</strong></span>.  This phone is always answered and someone will take your number and have an experienced A.A. member call you back.</p>
  </div>

    <div class="text-panel">
      <div><strong>Relations with Outside Agencies</strong></div>
      <p>The Fellowship has adopted a policy of cooperation but not affiliation with other organizations concerned with the problem of alcoholism. We have no opinion on issues outside A.A. and neither endorse nor oppose any causes.<p>
    </div>

    <div class="text-panel">
      <div><strong>How A.A. Is Supported</strong></div>
      <p>Over the years, Alcoholics Anonymous has affirmed and strengthened a tradition of being fully self-supporting and of neither seeking nor accepting contributions from nonmembers. Within the Fellowship, the amount that may be contributed by any individual member is limited to $2,000 a year.</p>
    </div>

    <div class="text-panel">
      <div><strong>How A.A. Members Maintain Sobriety</strong></div>
      <p>A.A. is a program of total abstinence. Members simply stay away from one drink, one day at a time. Sobriety is maintained through sharing experience, strength and hope at group meetings and through the suggested <%= link_to 'Twelve Steps', page_path('12steps') %> for recovery from alcoholism.</p>
    </div>
  </div>

  <div class="small-12 large-6 content-columns">

  </div>
</div>
