<% content_for :title do %>
  AA District 34 Quinte East - About
<% end %>
<br/>
<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>What is A.A.?</strong></div>
      <p>Alcoholics Anonymous is a voluntary, worldwide fellowship of men and women from all walks of life who meet together to attain and maintain sobriety. The only requirement for membership is a desire to stop drinking.  There are no dues or fees for A.A. membership.</p>
    </div>

    <div class="text-panel">
      <div><strong>Current Membership</strong></div>
      <p>It is estimated that there are more than 100,000 groups and over 2,000,000 members in 150 countries.</p>
    </div>

    <div class="text-panel">
      <div><strong>A.A. In Quinte East</strong></div>
      <p>There are over 30 meetings held in the Quinte East Area. For a list of meetings <%= link_to 'click here', meetings_path %>.  To speak to a member of A.A. in Quinte East call our number <span class="nobr"><strong>1-877-961-2134</strong></span>.  This phone is always answered and someone will take your number and have an experienced A.A. member call you back.</p>
  </div>

    <div class="text-panel">
      <div><strong>Relations with Outside Agencies</strong></div>
      <p>The Fellowship has adopted a policy of cooperation but not affiliation with other organizations concerned with the problem of alcoholism. We have no opinion on issues outside A.A. and neither endorse nor oppose any causes.<p>
    </div>

    <div class="text-panel">
      <div><strong>How A.A. Is Supported</strong></div>
      <p>Over the years, Alcoholics Anonymous has affirmed and strengthened a tradition of being fully self-supporting and of neither seeking nor accepting contributions from nonmembers. Within the Fellowship, the amount that may be contributed by any individual member is limited to $2,000 a year.</p>
    </div>

    <div class="text-panel">
      <div><strong>How A.A. Members Maintain Sobriety</strong></div>
      <p>A.A. is a program of total abstinence. Members simply stay away from one drink, one day at a time. Sobriety is maintained through sharing experience, strength and hope at group meetings and through the suggested <%= link_to 'Twelve Steps', page_path('12steps') %> for recovery from alcoholism.</p>
    </div>
  </div>

  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>Why Alcoholics Anonymous Is "Anonymous"</strong></div>
      <p>Anonymity is the spiritual foundation of A.A. It disciplines the Fellowship to govern itself by principles rather than personalities. We are a society of peers. We strive to make known our program of recovery, not individuals who participate in the program. Anonymity in the public media is assurance to all A.A.s, especially to newcomers, that their A.A. membership will not be disclosed.<p>
    </div>

    <div class="text-panel">
      <div><strong>Anyone May Attend A.A. Open Meetings</strong></div>
      <p>Anyone may attend open meetings of A.A. These usually consist of talks by a leader and two or three speakers who share experience as it relates to their alcoholism and their recovery in A.A. Some meetings are held for the specific purpose of informing the nonalcoholic public about A.A. Doctors, members of the clergy, and public officials are invited. Closed discussion meetings are for alcoholics only.</p>
    </div>

    <div class="text-panel">
      <div><strong>How A.A. Started</strong></div>
      <p>A.A. was started in 1935 by a New York stockbroker and an Ohio surgeon (both now deceased), who had been hopeless drunks. They founded A.A. in an effort to help others who suffered from the disease of alcoholism and to stay sober themselves. A.A. grew with the formation of autonomous groups, first in the United States and then around the world.<p>
    </div>

    <div class="text-panel">
       <div><strong>What A.A. Does Not Do</strong></div>
       <p>A.A. does not: Keep membership records or case histories...engage in or support research...oin councils or social agencies (although A.A. members, groups and service offices frequently cooperate with them...follow up or try to control its members...make medical or psychiatric prognoses or dispense medicines or psychiatric advise...provide drying-out or nursing services or sanitariums...offer religious services...provide housing, food, clothing, jobs, money, or other welfare or social services...provide domestic or vocational counseling...provide letters of reference to parole boards, lawyers, court officials, social agencies, employers, etc.<p>
     </div>
  </div>

  <div class="small-12 content-columns">
    <div class="text-panel">
      <div><strong>More Information</strong></div>
      <p>There is a wealth of A.A. information and a number of pamphlets available on the WSO site that are ideal for newcomers. Click on the Link below to go that site.<p>
      <div><%= link_to 'World Service Organization of Alcoholics Anonymous', "http://www.alcoholics-anonymous.org" %></div>
    </div>
</div>
