<% content_for :title do %>
  AA District 34 Quinte East - Contact Us
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div>
        <h3 class="text-center"><strong>District 34 Webmaster</strong></h3>
      </div>
      <p>For information, questions, comments regarding this website, or to report any errors or omisisons, please contact the discrict webmaster using the link below.</p>
      <div class="text-center">
        <%= link_to 'Contact Webmaster', contacts_path(recipient: :webmaster) %>
      </div>
    </div>
  </div>

  <div class="small-12 content-columns">
    <div class="text-panel">
      <div><h3 class="text-center"><strong>** Attention District 34 Members **</strong></h3></div>
      <p>The following District Table committee positions still need to be filled for this term:</p>
        <strong>
          <ul>
            <li>Self Support Chairperson</li>
            <li>Archives Chairperson</li>
          </ul>
        </strong>
      <p>Interested members should attend the next District Table meeting, to be held on Thurs Mar 26.</p>
      
</div>

