<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>May</h3>
            <h4>7</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Kaye H - Celebration of Life</h2>
          </div>
          <div>Celebration for AA member Kaye H who passed away peacefully at the age of 95</div>
          <div class="event-detail-date">
            7 May 2017 2pm-5pm
          </div>
          <div class="event-detail-venue">
            <div>East Gwillimbury Sports Complex, Canada Hall</div>
            <div>1914B Mount Albert Road</div>
            <div>Sharon, ON</div>
            <div>Contact Scott.vj.johnson@gmail.com or marc.johnson@utoronto.ca for more information</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>May</h3>
            <h4>13</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Tri County 33rd Annual Roundup</h2>
          </div>
          <div>7th Tradition</div>
          <div class="event-detail-date">
            13 May 2017 9am
          </div>
          <div class="event-detail-venue">
            <div>Marysville Hall</div>
            <!---div>458 Ashley St</-->
            <div>Marysville, ON</div>
          </div>
        </div>
      </div>
<!--
     <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Dec</h3>
            <h4>22</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%# link_to "Napanee Big Book Group Holiday Gratitude Meeting", '/documents/NAPANEEXMAS2016.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            22 December 2016 7pm
          </div>
          <div class="event-detail-venue">
            <div><%# link_to "Trinity United Church", '/meetings/12' %></div>
            <div>25 Bridge St</div>
            <div>Napanee, ON</div>
          </div>
        </div>
      </div>
-->

   
    </div>
  </div>
</div>

