<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>
      
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Dec</h3>
            <h4>9</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Enterprise 12 Step Gratitude Meeting<%#= link_to "Area 83 Fall Assembly", 'http://area83aa.org/events/kingston', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            9 December 2015 8pm
          </div>
          <div class="event-detail-venue">
            <div>Enterprise Public School</div>
            <div>76 School St</div>
            <div>Enterprise, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Dec</h3>
            <h4>14</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Foxboro Friendship Group Gratitude Meeting<%#= link_to "Area 83 Fall Assembly", 'http://area83aa.org/events/kingston', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            14 December 2015 8pm
          </div>
          <div class="event-detail-venue">
            <div>United Church</div>
            <div>458 Ashley St</div>
            <div>Foxboro, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>


      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Dec</h3>
            <h4>18</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Cannifton Friday Night Group Gratitude Meeting<%# link_to "Land-O-Lakes Group 35th Birthday Celebration", '/documents/LOL_Grp_B_day_2015.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            18 December 2015 8pm
          </div>
          <div class="event-detail-venue">
            <div>St Mark's United Church</div>
            <div>237 Cannifton Rd N</div>
            <div>Cannifton, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

       <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Dec</h3>
            <h4>27</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Happy Destiny Group Gratitude Meeting<%# link_to "Land-O-Lakes Group 35th Birthday Celebration", '/documents/LOL_Grp_B_day_2015.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            27 December 2015 10am
          </div>
          <div class="event-detail-venue">
            <div>Foster Ward Community Centre</div>
            <div>75 St Paul St</div>
            <div>Belleville, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
   
    </div>
  </div>
</div>

