<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>
     <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
     
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>8</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Old Timers Meeting", '/documents/old_timers.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            8 September 2019 - 10am 
          </div>
          <div class="event-detail-venue">
            <div>Foster Ward</div>
            <div>75 St. Paul Street</div>
            <div>Belleville, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>29</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "District 34 & 36 41st Annual Conference", '/documents/District_34_36_Conference_2019-2.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            29 September 2019 - Registration 9:30am 
          </div>
          <div class="event-detail-venue">
            <div>Napanee Lions Hall</div>
            <div>57 County Road 8</div>
            <div>Napanee, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <!--div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>30</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%# link_to "District 34 & 36 Conference", '/documents/District_34_36_Conference_2018.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            30 September 2018 - Registration 9:30am 
          </div>
          <div class="event-detail-venue">
            <div>Napanee Lions Hall</div>
            <div>57 County Road 8</div>
            <div>Napanee, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div-->

      <!--div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>30</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%# link_to "District 34 & 36 Conference", '/documents/District_34_36_Conference_2018.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            30 September 2018 - Registration 9:30am 
          </div>
          <div class="event-detail-venue">
            <div>Napanee Lions Hall</div>
            <div>57 County Road 8</div>
            <div>Napanee, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div-->

      <!--div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>30</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%# link_to "District 34 & 36 Conference", '/documents/District_34_36_Conference_2018.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            30 September 2018 - Registration 9:30am 
          </div>
          <div class="event-detail-venue">
            <div>Napanee Lions Hall</div>
            <div>57 County Road 8</div>
            <div>Napanee, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div-->

    </div>
  </div>
</div>

