<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="date-icon">
        <h3>Mar</h3>
        <h4>27</h4>
      </div>
    </div>
  </div>
</div>

