<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-1 columns">
          <div class="date-icon">
            <h3>Mar</h3>
            <h4>27</h4>
          </div>
        </div>

        <div class="small-11 columns">
          <h4>Area 83 Spring Conference</h4>
        </div>
      </div>
    </div>
  </div>
</div>

