<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>
     <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <!--div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Feb</h3>
            <h4>28</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%# link_to "Ontario Delegates' Committee", 'http://area83aa.org/resources/ontario-delegate-committee', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            28 February - 1 March 2020
          </div>
          <div class="event-detail-venue">
            <div>Holiday Inn Toronto Airport East</div>
            <div>600 Dixon Road</div>
            <div>Toronto, ON</div>
          </div>
        </div>
      </div-->

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
    
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>May</h3>
            <h4>2</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Ottawa Spring Conference", '/documents/ottawa_spring_2020.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            2 May 2020 
          </div>
          <div class="event-detail-venue">
            <div>Hellenic Meeting and Reception Centre</div>
            <div>1315 Prince of Wales Drive</div>
            <div>Ottawa, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>May</h3>
            <h4>2</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Victoria/Haliburton AA Conference", '/documents/.dist82conf_2020.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            2 May 2020 - Registration 8:45am
          </div>
          <div class="event-detail-venue">
            <div>Victoria Park Armoury</div>
            <div>210 Kent St W</div>
            <div>Lindsay, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Jun</h3>
            <h4>13</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "District 34 & 36 Conference", '/documents/founders_day_kingston_2020.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            13 June 2020 - Registration 11:30am 
          </div>
          <div class="event-detail-venue">
            <div>Crossroads United Church</div>
            <div>690 Sir John A MacDonald Blvd</div>
            <div>Kingston, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <!--div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>30</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%# link_to "District 34 & 36 Conference", '/documents/District_34_36_Conference_2018.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            30 September 2018 - Registration 9:30am 
          </div>
          <div class="event-detail-venue">
            <div>Napanee Lions Hall</div>
            <div>57 County Road 8</div>
            <div>Napanee, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div-->

    </div>
  </div>
</div>

