<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>May</h3>
            <h4>1</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "50th Annual Niagara Blossomtime Convention", "/documents/2015_BTC_Info_Flyer.pdf", target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            1 May 2015 4:00 pm - 3 May 2015 1:00 pm
          </div>
          <div class="event-detail-venue">
            <div>Double Tree Fallsview</div>
            <div>Niagara Falls, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
  
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>May</h3>
            <h4>2</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Tri-County 31st Annual Roundup", "/documents/Tri-County-Roundup.pdf", target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            2 May 2015
          </div>
          <div class="event-detail-venue">
            <div>Marysville Hall</div>
            <div>7274 Old Hwy 2, Marysville, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>May</h3>
            <h4>2</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "36th Annual District 82 Victoria/Haliburton Conference", "/documents/flyerfor2015dist82conf.pdf", target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            2 May 2015 10:00 am
          </div>
          <div class="event-detail-venue">
            <div>The Victoria Park Armoury</div>
            <div>210 Kent St W, Lindsay, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>May</h3>
            <h4>16</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "District 30 Roundup", '/documents/District_30_Roundup.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            16 May 2015 10:00 am
          </div>
          <div class="event-detail-venue">
            <div>Trinity-Saint Andrews Church</div>
            <div>56 Prince Edward St, Brighton, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

    </div>
  </div>
</div>

