<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>
      
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Aug</h3>
            <h4>20</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Birds of a Feather - AA Roundup", '/documents/Birds_of_a_Feather.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            20 August 2016 10:00am - 4:00pm
          </div>
          <div class="event-detail-venue">
            <div>Native Canadian Centre</div>
            <div>16 Spadina Rd</div>
            <div>Toronto, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Aug</h3>
            <h4>27</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Service In Sobriety<%#= link_to "Area 83 Fall Assembly", 'http://area83aa.org/events/kingston', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            27 August 2016 10:00am - 2:00pm
            Admission & BBQ Free!
          </div>
          <div class="event-detail-venue">
            <div>Hillcrest Community Centre</div>
            <div>69 Centre St</div>
            <div>Belleville, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>17</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "2016 Clean & Sober Pizza Dinner & Dance", '/documents/2016_summer_dance.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            17 September 2016 7:00pm
          </div>
          <div class="event-detail-venue">
            <div>Kingston District Shrine Club</div>
            <div>3260 Princess St</div>
            <div>Kingston, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>25</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Keep It Simple - 38th Annual AA Conference<%# link_to "Keep It Simple - 38th Annual AA Conference", '/documents/.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            25 September 2016 Registration @9:30am
          </div>
          <div class="event-detail-venue">
            <div>Napannee Lions Hall</div>
            <div></div>
            <div>Napanee, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Nov</h3>
            <h4>19</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Belleville & Area Round Up<%#= link_to "Area 83 Fall Assembly", 'http://area83aa.org/events/kingston', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            19 November 2016 Registration @11:30am
          </div>
          <div class="event-detail-venue">
            <div>Thurlow Community Centre</div>
            <div>516 Harmony Rd</div>
            <div>Corbyville, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
   
    </div>
  </div>
</div>

