<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>
      
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

<!--
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Feb</h3>
            <h4>7</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Happy Destiny Group Anniversary<%#= link_to "Area 83 Fall Assembly", 'http://area83aa.org/events/kingston', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            7 February 2016 8pm
          </div>
          <div class="event-detail-venue">
            <div>Foster Ward Community Centre</div>
            <div>75 St Paul St</div>
            <div>Belleville, ON</div>
          </div>
        </div>
      </div>

--->
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
   
    </div>
  </div>
</div>

