<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>
     <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Mar</h3>
            <h4>10</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>5 Year Medallion for Mike H - Trenton Group</h2>
          </div>
          <div class="event-detail-date">
            10 March 2021 8pm
          </div>
          <div class="event-detail-venue">
            <div>Online Zoom Meeting</div>
            <div>Meeting ID: 827 6266 2497</div>
            <div>Passcode: serenity12</div>
            <div><%= link_to "Enter Meeting", "https://us02web.zoom.us/j/82762662497?pwd=YTlTaHFldzJSbk1uWmVaRkU2ZTRJZz09", target: '_blank', class: "button" %></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
    
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Mar</h3>
            <h4>19</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Ontario Regional Conference of Alcoholics Anonymous", 'https://aaorc.ca/', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            19-21 March 2021 
          </div>
          <div class="event-detail-venue">
            <div>Online Zoom Meeting</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Mar</h3>
            <h4>26</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Area 83 Virtual Assembly", 'https://area83aa.org/events/kingston-2', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            26-28 March 2021
          </div>
          <div class="event-detail-venue">
            <div>Online Zoom</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <!--div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Jun</h3>
            <h4>13</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%# link_to "Kingston Founders' Day Roundup", '/documents/founders_day_kingston_2020.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            13 June 2020 - Registration 11:30am 
          </div>
          <div class="event-detail-venue">
            <div>Crossroads United Church</div>
            <div>690 Sir John A MacDonald Blvd</div>
            <div>Kingston, ON</div>
          </div>
        </div>
      </div-->

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <!--div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>30</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%# link_to "District 34 & 36 Conference", '/documents/District_34_36_Conference_2018.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            30 September 2018 - Registration 9:30am 
          </div>
          <div class="event-detail-venue">
            <div>Napanee Lions Hall</div>
            <div>57 County Road 8</div>
            <div>Napanee, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div-->

    </div>
  </div>
</div>

