<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>

     <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
      <!--div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>30</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><#= link_to "Madawaska Valley District 38th Annual Round-Up", '/documents/Festival-of-Colours-2017-Flyer.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            30 September 2017 - Regisitration 12pm 
          </div>
          <div class="event-detail-venue">
            <div>Purdy Community Church</div>
            <div>13 Centreview Road</div>
            <div>Combermere, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div-->

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Jan</h3>
            <h4>22</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Read Group 55th Anniversary", '/meetings/5', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            22 January 2018 8pm 
          </div>
          <div class="event-detail-venue">
            <div>All Saints Church</div>
            <div>1295 Ridge Rd E</div>
            <div>Mohawk Territory</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Feb</h3>
            <h4>4</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Happy Destiny Group 20th Anniversary", '/meetings/19', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            4 February 2018 10am 
          </div>
          <div class="event-detail-venue">
            <div>Foster Ward Community Centre</div>
            <div>75 St Paul St</div>
            <div>Belleville, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>


    </div>
  </div>
</div>

