<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>
      
            <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Oct</h3>
            <h4>1</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Madawaska Valley District - 37th Annual One Day Round-Up", '/documents/Festival_of_Colours_Flyer_2016.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            1 October 2016 Registration @12:00pm
          </div>
          <div class="event-detail-venue">
            <div>Purdy Community Church</div>
            <div>13 Centreview Road</div>
            <div>Combermere, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Oct</h3>
            <h4>17</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Read AA 10th Anniversary<%#= link_to "Area 83 Fall Assembly", 'http://area83aa.org/events/kingston', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            17 October 2016 @8pm
          </div>
          <div class="event-detail-venue">
            <div>St Mary's School</div>
            <div>1285 Read Rd</div>
            <div>Read, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Nov</h3>
            <h4>19</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Belleville & Area Round Up<%#= link_to "Area 83 Fall Assembly", 'http://area83aa.org/events/kingston', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            19 November 2016 Registration @11:30am
          </div>
          <div class="event-detail-venue">
            <div>Thurlow Community Centre</div>
            <div>516 Harmony Rd</div>
            <div>Corbyville, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
   
    </div>
  </div>
</div>

