<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>10</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Old Timer's Meeting, <%= link_to "Happy Destiny Group", '/meetings/19', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            10 September 2017 10am  
          </div>
          <div class="event-detail-venue">
            <div>Foster Ward</div>
            <div>75 St Paul St</div>
            <div>Belleville, ON</div>
          </div>
        </div>
      </div>
     <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>24</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2>Keep It Simple, 39th Annual AA Conference District 34 & 35</h2>
          </div>
          <div class="event-detail-date">
            24 September 2017 - Regisitration 9:30am, Banquet ticket $12.00 
          </div>
          <div class="event-detail-venue">
            <div>Napanee Lions Hall</div>
            <div>57 County Road 8</div>
            <div>Napanee, ON</div>
          </div>
        </div>
      </div>

     <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>30</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Madawaska Valley District 38th Annual Round-Up", '/documents/Festival-of-Colours-2017-Flyer.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            30 September 2017 - Regisitration 12pm 
          </div>
          <div class="event-detail-venue">
            <div>Purdy Community Church</div>
            <div>13 Centreview Road</div>
            <div>Combermere, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Sep</h3>
            <h4>30</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Madoc Group 50th Anniversary", '/documents/Madoc_50th_AA_Flyer.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            30 September 2017 7:30pm 
          </div>
          <div class="event-detail-venue">
            <div>St Peters Presbyterian Church</div>
            <div>115 St Lawrence Street</div>
            <div>Madoc, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Nov</h3>
            <h4>18</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Belleville & Area Round Up", '/documents/belleville_round_up_2017.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            18 November 2017 - Registration 11:30am 
          </div>
          <div class="event-detail-venue">
            <div>Thurlow Community Centre</div>
            <div>516 Harmony Road</div>
            <div>Corbyville, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
   
    </div>
  </div>
</div>

