<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Mar</h3>
            <h4>27</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to 'Area 83 Spring Assembly', 'http://area83aa.org/events/kingston', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            27 Mar 2015 8:45 pm - 29 Mar 2015 evening
          </div>
          <div class="event-detail-venue">
            <div>Ambassador Hotel and Conference Resort</div>
            <div>1550 Princess Street, Kingston, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Apr</h3>
            <h4>11</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to '2015 Ottawa Spring Conference', 'http://spring.ottawaaa.org/', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            11 Apr 2015 10:00 am
          </div>
          <div class="event-detail-venue">
            <div>Downtown Marriott Hotel</div>
            <div>100 Kent Street, Ottawa, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

    </div>
  </div>
</div>

