<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Apr</h3>
            <h4>1</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Back To Basics", '/documents/Back_to_Basics.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            Apr 1st, 8th, 15th, 22nd 2015 7:30 pm to 8:30 pm
          </div>
          <div class="event-detail-venue">
            <div>Eastminster Church</div>
            <div>432 Bridge St E (upstairs), Belleville, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Apr</h3>
            <h4>11</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to '2015 Ottawa Spring Conference', 'http://spring.ottawaaa.org/', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            11 Apr 2015 10:00 am
          </div>
          <div class="event-detail-venue">
            <div>Downtown Marriott Hotel</div>
            <div>100 Kent Street, Ottawa, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>May</h3>
            <h4>1</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "50th Annual Niagara Blossomtime Convention", "/documents/2015_BTC_Info_Flyer.pdf", target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            1 May 2015 4:00 pm - 3 May 2015 1:00 pm
          </div>
          <div class="event-detail-venue">
            <div>Double Tree Fallsview</div>
            <div>Niagara Falls, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>May</h3>
            <h4>2</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "36th Annual District 82 Victoria/Haliburton Conference", "/documents/flyerfor2015dist82conf.pdf", target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            2 May 2015 10:00 am
          </div>
          <div class="event-detail-venue">
            <div>The Victoria Park Armoury</div>
            <div>210 Kent St W, Lindsay, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

    </div>
  </div>
</div>

