<% content_for :title do %>
  Alcoholics Anonymous District 34 Quinte East
<% end %>

<div class="small-12 content-columnns">
  <div class=home-orbit-container>
    <ul data-orbit data-options="pause_on_hover:false; timer_speed:10000">
      <li><%= image_tag "slider_park_bench.jpg" %></li>
      <!--li><%# link_to image_tag("2015_Ottawa_Con.jpg"), 'http://spring.ottawaaa.org/', target: '_blank' %></li-->
    </ul>
    <br/>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>ALCOHOLICS ANONYMOUS®</strong></div>
      <p>is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem and help others to recover from alcoholism.</p>
      <p>The only requirement for membership is a desire to stop drinking. There are no dues or fees for A.A. membership; we are self-supporting through our own contributions.</p>
      <p>A.A. is not allied with any sect, denomination, politics, organization or institution; does not wish to engage in any controversy; neither endorses nor opposes any causes.</p>
      <p>Our primary purpose is to stay sober and help other alcoholics to achieve sobriety.</p>
      <div class="quote-credit">
        AA Preamble, Reprinted with permission of A.A. Grapevine, Inc.
      </div>
    </div>
  </div>

<!--
<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <p>Alcoholics Anonymous is a worldwide fellowship of men and women who help each other maintain sobriety and who offer to share their recovery experience freely with others who may have a drinking problem. The program A.A. suggests consists basically of "Twelve Steps" designed for personal recovery from alcoholism.</p>
    </div>
  </div>
</div>
-->

<!--div class="row"-->
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>NEED HELP?</strong></div>
      <p><%= link_to 'Click here', page_path('about') %> if you want information about Alcoholics Anonymous or you want help to stop drinking. If you want to talk to an alcoholic call:</p>
      <div><strong>1-877-961-2134</strong></div>
    </div>

    <div class="text-panel">
      <div><strong>ANONYMITY</strong></div>
      <p>We observe all Alcoholics Anonymous principles and Traditions on our web site. As anonymity is the "spiritual foundation of all our Traditions", we practice anonymity on our web site at all times. The Quinte East District 34 web site is a public medium which has the potential for reaching the broadest possible audience and, therefore, requires the same safeguards that we use at the level of press, radio and film.</p>
      <%# TODO: Ajdust column heights to be even %>
      <div> </div>
    </div>
  </div>

<!--
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div><strong>Last Call for Grapevine Calendars and Pocket Planners</strong></div>
      <div>The cost for the calenders is $10.00 each and the pocket planners are $5.00 each.  Please place your order and payment to your GSR , your GSR will place the group order and payments to the Grapevine rep which can be reached through this website. Please make all cheques payable to AA distrect 34. All orders MUST be in by the first week of September.</div>
      <br>
      <div>
        <%# link_to 'Click here', contacts_path(recipient: :grapevine) %>
         to contact the Grapevine Chair.
      </div>

    </div>
  </div>
-->

  <div class="small-12 content-columns">
    <!--div class="text-panel">
      <div><strong>Old Grapevine Magazines Wanted!</strong></div>
      <div>
        Hi it's Tom your Grapevine rep . I am collecting used Grapevine magazines to be shared with the penitentiaries.  We always have a huge call for them and they will be greatly appreciated.  These Grapevines MUST be the ones free of staples.  You can contact me <%# link_to 'here', contacts_path(recipient: :grapevine) %> through the website to arrange pickup.  Thank you sincerely, Tom M.
      </div>
    </div-->
    <div class="text-panel">
      <p><strong>TRIANGLE UNITY GROUP MOVING</strong></p>
      <div>
        <p>Effective <strong>Tuesday December 1</strong>, Triangle Unity Group meetings will be held at:</p>
        <div><strong>St Columba Presbyterian Church</strong></div>
        <p><strong>520 Bridge St East, Belleville</strong></p>
      <p>Meetings will continue to start at <strong>8pm</strong></p>
        <p>This is a closed 12 and 12 Step study meeting. Each week there is a Step 1, 2& 3 Group and the other part of the group discusses a different Step in numerical order on a weekly rotational basis and a Tradition on the last Tuesday of every month ( The Tradition being discussed coincides with the month)</p>
      </div>
    </div>
    <div class="text-panel">
      <p><strong>OUT OF THE FOG GROUP MOVING</strong></p>
      <div>
        <p>Effective <strong>Tuesday December 1</strong>, Out of the Fog meetings will be held at:</p>
        <div><strong>Westdale Park Free Methodist Church</strong></div>
        <div><strong>7 Richmound Park Drive, Napanee</strong></div>
        <p>(adjacent to Napanee Hospital)</p>
        <p>Meeting time is changed to <strong>7:30pm</strong></p>
      </div>
    </div>

  </div>

</div>
