<% content_for :title do %>
  Alcoholics Anonymous District 34 Quinte East
<% end %>

<div class="small-12 content-columnns">
  <div class=home-orbit-container>
    <ul data-orbit data-options="pause_on_hover:false; timer_speed:10000">
      <li><%= image_tag "slider_park_bench.jpg" %></li>
      <li><%= image_tag "orc_2015.jpg" %></li>
    </ul>
    <br/>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>ALCOHOLICS ANONYMOUS®</strong></div>
      <p>is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem and help others to recover from alcoholism.</p>
      <p>The only requirement for membership is a desire to stop drinking. There are no dues or fees for A.A. membership; we are self-supporting through our own contributions.</p>
      <p>A.A. is not allied with any sect, denomination, politics, organization or institution; does not wish to engage in any controversy; neither endorses nor opposes any causes.</p>
      <p>Our primary purpose is to stay sober and help other alcoholics to achieve sobriety.</p>
      <div class="quote-credit">Reprinted with permission of A.A. Grapevine, Inc.</div>
    </  div>
  </div>
</div>

<!--
<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <p>Alcoholics Anonymous is a worldwide fellowship of men and women who help each other maintain sobriety and who offer to share their recovery experience freely with others who may have a drinking problem. The program A.A. suggests consists basically of "Twelve Steps" designed for personal recovery from alcoholism.</p>
    </div>
  </div>
</div>
-->

<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>NEED HELP?</strong></div>
      <p><%= link_to 'Click here', page_path('home') %> if you want information about Alcoholics Anonymous or you want help to stop drinking. If you want to talk to an alcoholic call:</p>
      <div><strong>1-877-961-2134</strong></div>
    </div>

    <div class="text-panel">
      <div><strong>ANONYMITY</strong></div>
      <p>We observe all Alcoholics Anonymous principles and Traditions on our web site. As anonymity is the "spiritual foundation of all our Traditions", we practice anonymity on our web site at all times. The Quinte East District 34 web site is a public medium which has the potential for reaching the broadest possible audience and, therefore, requires the same safeguards that we use at the level of press, radio and film.</p>
      <%# TODO: Ajdust column heights to be even %>
      <div> </div>
    </div>
  </div>
</div>
