<% content_for :title do %>
  Alcoholics Anonymous District 34 Quinte East
<% end %>
<section>
  <div class="text-center">
  <h1>Welcome to Alcoholics Anonymous in Quinte East</h1>
</section>
<section>
  <div class="column">
    <h2>ALCOHOLICS ANONYMOUS</h2>
  </div>
</section>


