<% content_for :title do %>
  Alcoholics Anonymous District 34 Quinte East
<% end %>

<div class=row>
  <div class="large-12 columns">
    <ul data-orbit data-options="pause_on_hover:false; timer_speed:2500">
      <li><img src="http://lorempixel.com/1000/400/people/1" />
      <li><img src="http://lorempixel.com/1000/400/people/2" />
      <li><img src="http://lorempixel.com/1000/400/people/3" />
      <li><img src="http://lorempixel.com/1000/400/people/6" />
    </ul>
    <hr/>
  </div>
</div>
