<% content_for :title do %>
  AA District 34 Quinte East - About Service
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="text-center">
        <div>
          <strong>This page is currently under maintenance.</strong>
        </div>
        <div>
          This page will be back soon.  Please check back later.
        </div>
        <div>
          We apologize for the incovenience.
        </div>
        <br/>
        <div class="maintenance_back">
          <%= link_to 'Go back', :back %> <span id="countdown"></span>
        </div>
      </div>
    </div>
  </div>

     
</div>

