<% content_for :title do %>
  AA District 34 Quinte East - Pulic Inforamtion
<% end %>
<br/>
<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>Alcoholics Anonymous®</strong></div>
      <p>is a worldwide fellowship of men and women who help each other maintain sobriety and who offer to share their recovery experience freely with others who may have a drinking problem. The program A.A. suggests consists basically of "Twelve Steps" designed for personal recovery from alcoholism.</p>
    </div>
    <div class="text-panel">
      <p><strong>If you want to talk</strong> to a member of AA here in Quinte East, call: </p>
      <div class="text-center"><h3>1-877-961-2134</h3></div>
    </div>

    <div class="text-panel">
      <div><strong>How A.A. works</strong></div>
      <p>A.A. can be described as a method of treating alcoholism in which the members are supportive of each other, sharing with each other a large body of similar experiences in suffering and recovering from Alcoholism.</p>
      <p>The basic unit in A.A. is the local (neighbourhood or city) group, which is autonomous except in matters affecting other A.A. groups or the Fellowship as a whole. No group has power over its members. Groups are usually democratic, served by short-term  "steering committees" of members. Thus no group has permanent leadership.</p>
    </div>

    <div class="text-panel">
      <div><strong>Who are A.A. members?</strong></div>
      <p>A.A. members are men and women from all walks of life, from teenagers to 90-year-olds, of all races, with all manner of formal religious affiliations and with none at all.</p>
      <p>
    </div>

  </div>
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns"><strong>A.A. Literature</strong></div>
      </div>
      <br/>
      <div class="row">
        <div class="small-3 columns">
          <%= link_to image_tag('p-3_isaaforyou.jpg', alt: 'Is A.A. for You?'), 'http://www.aa.org/assets/en_US/p-3_isaaforyou.pdf', target: '_blank' %>
        </div>
        <div class="small-9 columns">
          <p>There is a wealth of A.A. information and a number of pamphlets, such as this one, available on the A.A. <%= link_to 'World Service Organization', 'http://www.aa.org/pages/en_US/aa-literature', target: '_blank' %> site that are ideal for newcomers.</p> 
          <p>Alternatively, join us at one of our many meetings in Quinte East to pick up free pamphlets or other A.A. books.</p>
        </div>
        <div class="small-12 columns">
          <div class="graphic-credit">
            © The above graphic is used with permission of A.A. World Services, Inc.
          </div>
        </div>
      </div>
    </div>

    <div class="text-panel">
      <div><strong>About A.A. Meetings</strong></div>
      <p>Each group holds regular meetings at which members relate their experiences to each other —usually in relation to the "Twelve Steps" suggested for recovery, and "Twelve Traditions", suggested for relationships within the Fellowship and with the community. Some meetings are open meetings and some are closed. OPEN meetings are open to alcoholics and their families and to anyone interested in solving a personal drinking problem or helping someone else to solve such a problem. Only alcoholics or those who think they have a drinking problem may attend CLOSED meetings. Membership in Alcoholics Anonymous is available only to those with drinking problems. People with problems other than alcoholism are eligible for A.A. membership only if they have a drinking problem as well.</p>
      <p>Alcoholics Anonymous has a singleness of purpose - to help other alcoholics stop drinking and to maintain their sobriety. </p>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div><strong>More About A.A.</strong></div>
      <p>Alcoholics Anonymous is a worldwide fellowship of men and women who help each other maintain sobriety and who offer to share their recovery experience freely with others who may have a drinking problem. The program A.A. suggests consists basically of "Twelve Steps" designed for personal recovery from alcoholism.</p>
      <p>The Fellowship today is in approximately 150 countries. Approximately two million alcoholics have achieved sobriety in A.A., but members recognize that their program is not always effective for all alcoholics and that some may require professional counselling or treatment.</p>
      <p>A.A. is concerned solely with the personal recovery and continued sobriety of individual alcoholics who turn to the Fellowship for help. The movement does not engage in alcoholism research or medical or psychiatric treatment, and does not endorse any causes - although A.A. members may participate as individuals.</p>
      <p>The movement has adopted a policy of "cooperation but not affiliation" with other organizations concerned with the problem of alcoholism.</p>
      <p>Alcoholics Anonymous is self-supporting through its own groups and members and declines contribution from outside sources. A.A. members preserve personal anonymity at the level of press, films and broadcast media.</p>
      <p>From the beginning, many A.A. members have come to believe that alcoholism is a progressive illness --spiritual and emotional (or mental), as well as physical. The alcoholics we know seem to have lost the power to control their drinking.</p>
    </div>
  </div>
</div>
