<% content_for :title do %>
  AA District 34 Quinte East - Resources
<% end %>

<br>
<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>District 34 Resources</strong></div>
    </div>
  </div>

  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
       <div><strong>Corrections Forms</strong></div>
    </div>
  </div>
      
</div>

