<% content_for :title do %>
  AA District 34 Quinte East - About Service
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div>
        <h3 class="text-center"><strong>District Committee Meeting</strong></h3>
      </div>
      <p>While the official name of this gathering is “The District Committee,” it is commonly referred to as “The Table”.  This meeting is a closed meeting to non A.A. members and includes only members of Alcoholics Anonymous.  Non-members may attend with the approval of "Table".  This meeting is held the last Thursday of each month.</p>
      <p>The next district meeting will be held at: </p>
      <div class="text-center">
        <p><strong>Thursday, Jan 26, 8pm</br>
        Hillcrest Community Centre</br>
        69 Centre St</br>
        Belleville</strong></p>
      </div>
    </div>
  </div>

  <!--div class="small-12 content-columns">
    <div class="text-panel">
      <div><h3 class="text-center"><strong>** District 34 Elections **</strong></h3></div>
      <p>We are pleased to announce that all District Table committee positions for the 2017-2018 term have been filled.  Thank you to all those who attended and to the nominees who stood for positions.  We greatly value your service.</p>
  <--!>
</div>

