<% content_for :title do %>
  AA District 34 Quinte East - About Service
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div>
        <h3 class="text-center"><strong>District Committee Meeting</strong></h3>
      </div>
      <p>While the official name of this gathering is “The District Committee,” it is commonly referred to as “The Table”.  This meeting is a closed meeting to non A.A. members and includes only members of Alcoholics Anonymous.  Non-members may attend with the approval of "Table".  This meeting is held the last Thursday of each month.</p>
      <!--p>The next district meeting will be held at: </p-->
      <p><b>The next district meeting is being held via Zoom on Thursday, March 31, 8pm.</b></p>
      <p>Meeting ID: 761 646 5179</p>
      <p>Passcode: 343434</p>
      <!--div class="text-center">
        <p><strong>Thursday, November 26</br>
        Hillcrest Community Centre</br>
        69 Centre St</br>
        Belleville</strong></p>
      </div-->
    </div>

  <!--div class="small-12 content-columns">
    <div class="text-panel">
      <div><h3 class="text-center"><strong>URGENT!  Public Information Chairperson Needed</strong></h3></div>
      <p>District 34 now has a vacant position for Public Information Chair, and we'd like to reach out to all of our groups to fill this position as quickly as possible.  One of the responsibilities of the PI Chair is to manage our telephone answering service, which is one of our most important tools in helping the Alcoholic who still suffers.  Anyone interested in filling this position can send an email to our DCM or Webmaster through this website, or attend the next District table meeting in person.</p>
      <p>We'd like to thank our previous chair, Anne V,  for all the wonderful work she has done for PI up to this point.</p>
    </div>
  </div-->

  <!--div class="small-12 content-columns">
    <div class="text-panel">
      <div><h3 class="text-center"><strong>District 34 Officers and Sub-Committee Chairs for 2019/2020 Term</strong></h3></div>
      <p>Your Officers and Sub-Committe Chairs for the 2019/2020 term are:</p>
      <ul>
        <li><b>District Committee Member</b> - Bev H</li>
        <li><b>Alternate District Committee Member</b> - Inga D</li>
        <li><b>Secretary</b> - Heather L</li>
        <li><b>Cooperation with the Professional Community</b> - Kelly M</li>
        <li><b>Treatment</b> - Mike S</li>
        <li><b>Corrections</b> - Deborah T</li>
        <li><b>Grapevine</b> - Jackie S</li>
        <li><b>Archives</b> - Corey</li>
        <li><b>Self Support</b> - Terry T</li>
        <li><b>Webmaster</b> - Andrew F</li>
      </ul>
    </div>
  </div-->
</div>

