<% content_for :title do %>
  AA District 34 Quinte East - About Service
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div>
        <h3 class="text-center"><strong>District Committee Meeting</strong></h3>
      </div>
      <p>While the official name of this gathering is “The District Committee,” it is commonly referred to as “The Table”.  This meeting is a closed meeting to non A.A. members and includes only members of Alcoholics Anonymous.  Non-members may attend with the approval of "Table".  This meeting is held the last Thursday of each month.</p>
      <p>The next district meeting will be held at: </p>
      <div class="text-center">
        <p><strong>Thursday, November 30, 7:30pm</br>
        Hillcrest Community Centre</br>
        69 Centre St</br>
        Belleville</strong></p>
      </div>
    </div>
  </div>

  <div class="small-12 content-columns">
    <div class="text-panel">
      <div><h3 class="text-center"><strong>PIC & Treatment Volunteers Needed!</strong></h3></div>
      <p>PIC will be canvassing for a few volunteers to form a sub committee. Please share with your groups that if anyone is interested to contact the PIC chair <%= link_to 'here', contacts_path(recipient: :pic) %>.</p>
      <p>Treatment is looking for assistance.  Anyone interested, please contact the Treatment chair <%= link_to 'here', contacts_path(recipient: :treatment) %>.</p>
</div>

