<% content_for :title do %>
  AA District 34 Quinte East - About Service
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div>
        <h3 class="text-center"><strong>District Committee Meeting</strong></h3>
      </div>
      <p>While the official name of this gathering is “The District Committee,” it is commonly referred to as “The Table”.  This meeting is a closed meeting to non A.A. members and includes only members of Alcoholics Anonymous.  Non-members may attend with the approval of "Table".  This meeting is held the last Thursday of each month.</p>
      <p>The next district meeting will be held at: </p>
      <div class="text-center">
        <p><strong>Thursday, February 28, 8:00pm</br>
        Hillcrest Community Centre</br>
        69 Centre St</br>
        Belleville</strong></p>
      </div>
    </div>
  </div>

  <div class="small-12 content-columns">
    <div class="text-panel">
      <div><h3 class="text-center"><strong>District 34 Elections of Officers and Sub-Committee Chair for 2019/2020 Term</strong></h3></div>
      <p>Elections were held on September 27 2018.  Our Officers and Sub-Committe Chairs for the 2019/2020 term are:</p>
      <ul>
        <li><b>District Committee Member</b> - Bev H</li>
        <li><b>Alternate District Committee Member</b> - Inga D</li>
        <li><b>Secretary</b> - Betty W</li>
        <li><b>Treasurer</b> - Beth C</li>
        <li><b>Public Information</b> - Anne V</li>
        <li><b>Cooperation with the Professional Community</b> - Kelly M</li>
        <li><b>Treatment</b> - Mike S</li>
        <li><b>Corrections</b> - Deborah T</li>
        <li><b>Grapevine</b> - Jackie S</li>
        <li><b>Archives</b> - Lilliane T</li>
        <li><b>Self Support</b> - Terry T</li>
        <li><b>Webmaster</b> - Andrew F</li>
      </ul>
    </div>
  </div>
</div>

