<% content_for :title do %>
  AA District 34 Quinte East - About Service
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div>
        <h3 class="text-center"><strong>District Committee Meeting</strong></h3>
      </div>
      <p>While the official name of this gathering is “The District Committee,” it is commonly referred to as “The Table”.  This meeting is a closed meeting to non A.A. members and includes only members of Alcoholics Anonymous.  Non-members may attend with the approval of "Table".  This meeting is held the last Thursday of each month.</p>
      <!--p>The next district meeting will be held at: </p-->
      <p><b>The next district meeting is being held in person on Thursday, October 27, 8pm.</b></p>
      <div class="text-center">
        <p><strong>Thursday, October 27</br>
        Hillcrest Community Centre</br>
        69 Centre St</br>
        Belleville</strong></p>
      </div>
    </div>

  <!--div class="small-12 content-columns">
    <div class="text-panel">
      <div><h3 class="text-center"><strong>URGENT!  Public Information Chairperson Needed</strong></h3></div>
      <p>District 34 now has a vacant position for Public Information Chair, and we'd like to reach out to all of our groups to fill this position as quickly as possible.  One of the responsibilities of the PI Chair is to manage our telephone answering service, which is one of our most important tools in helping the Alcoholic who still suffers.  Anyone interested in filling this position can send an email to our DCM or Webmaster through this website, or attend the next District table meeting in person.</p>
      <p>We'd like to thank our previous chair, Anne V,  for all the wonderful work she has done for PI up to this point.</p>
    </div>
  </div-->

  <div class="small-12 content-columns">
    <div class="text-panel">
      <div><h3 class="text-center"><strong>District 34 Elections Held September 29 - Elected Members</strong></h3></div>
      <p>We still need you for service beyond the home group!  It's important that we fill the vacant positions of Public Information, CPC and Archives.  Please attend the District Meeting on October 27 to stand for one of these positions.</p>
      <ul>
        <li><b>District Committee Member - Mike S, One Page at a Time</b></li>
        <li><b>Alternate District Committee Member - Carla W</b></li>
        <li><b>Secretary - Pat S, Second Chance</b></li>
        <li><b>Treasurer - Peter, Happy Destiny</b></li>
        <li><b>Public Information - Vacant</b></li>
        <li><b>Cooperation with the Professional Community - Vacant</b></li>
        <li><b>Treatment - Vince, Triangle Unity</b></li>
        <li><b>Corrections - Neil W</b></li>
        <li><b>Grapevine - Debra, Bath Rebuilders</b></li>
        <li><b>Archives - Vacant</b></li>
        <li><b>Self Support - Teressa, Out of the Fog</b></li>
        <li><b>Webmaster - Kelly M, Consecon Better Life</b></li>
      </ul>
    </div>
  </div>
</div>

