<% content_for :title do %>
  AA District 34 Quinte East - About Service
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div>
        <h3 class="text-center"><strong>District Committee Meeting</strong></h3>
      </div>
      <p>While the official name of this gathering is “The District Committee,” it is commonly referred to as “The Table”.  This meeting is a closed meeting to non A.A. members and includes only members of Alcoholics Anonymous.  Non-members may attend with the approval of "Table".  This meeting is held the last Thursday of each month.</p>
      <p>The next meeting will be held at: </p>
      <div class="text-center">
        <p><strong>Thursday, April 30, 8pm</br>
        Hillcrest Community Centre</br>
        69 Centre St</br>
        Belleville</strong></p>
      </div>
    </div>
  </div>

  <div class="small-12 content-columns">
    <div class="text-panel">
      <div><h3 class="text-center"><strong>** Attention District 34 Members **</strong></h3></div>
      <p>The following District Table committee positions still need to be filled for this term:</p>
        <strong>
          <ul>
            <li>Self Support Chairperson</li>
            <li>Archives Chairperson</li>
          </ul>
        </strong>
      <p>Interested members should attend the next District Table meeting, to be held on Thurs Apr 30.</p>
      
</div>

