<% content_for :title do %>
  AA District 34 Quinte East - Other AA Sites 
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 content-columns">
          <div>
            <h5><strong>Other A.A. sites in Area 83</strong></h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns">
          <p>The following links are provided as a service for information only.  District 34, Quinte East, has no control or affiliation with the sites directly and therefore no responsibility for the content of same.</p>
        </div>
      </div>
      <div class="row">
        <ul>
          <% area83_site_links.each do |k,v| %>
            <div class="<%= sites_get_class(k,area83_site_links) %>">
                <li><%= link_to k, v,  target: "_blank" %></li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 content-columns">
          <div>
            <h5><strong>World Service Organization</strong></h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns">
          <%= link_to image_tag('en_problemdrinkers_anim.gif',  alt: 'World Service Organization'), 'http://www.aa.org/', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>

  <div class="small-12 medium-6 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 content-columns">
          <div>
            <h5><strong>AA Grapevine</strong></h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns">
          <%= link_to 'www.aagrapevine.org', 'http://www.aagrapevine.org/', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>

</div>

