<% content_for :title do %>
  Test Page
<% end %>
<br/>
<div class=row>
  <div class="large-12 content-columns">
    <div class="date-icon">
      <h3>Jun</h3>
      <h4>27</h4>
    </div>
  </div>
</div>

