.footer-links {
  ul {
    margin: 10px auto;
    li {
      display: inline;
    }

    a {
      //text-decoration: none;
      font-size: 14px;
      padding: .2em 1em;
    }
  }
}

.footer-text {
  //font-size: 0.9em;
  font-size: 14px;
}
  
.footer-copyright {
  //font-size: 0.8em;
  font-size: 12px;
}
