.footer-links {
  ul {
    li {
      display: inline;
    }

    a {
      //text-decoration: none;
      padding: .2em 1em;
    }
  }
}

.footer-text {
  font-size: 0.9em;
}
  
.footer-copyright {
  font-size: 0.8em;
}
