// import the CSS framework
@import 'settings';
@import "foundation";

$column-pad: rem-calc(30);

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

@mixin orbit-bullets-bottom-right {
  .orbit-bullets-container {
    position: absolute;
    right: 25px;
    bottom: 5px;
  }
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes

@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }

@mixin columns-padded {
  @extend .columns;
  padding-left: $column-pad;
  padding-right: $column-pad;
}

@mixin page-wrap {
  @extend .row;
  background: #FFF;
  height: 1200px;
  -webkit-box-shadow: 0 0 5px rgba(153,153,153,0.5);
  -moz-box-shadow: 0 0 5px rgba(153,153,153,0.5);
  box-shadow: 0 0 5px rgba(153,153,153,0.5);
}

.wrapper {
  @include page-wrap;
}

.content-columns {
  @include columns-padded;
}

// Main background and font
/*
.row {
  //background-color: #e1efcb;
  //font-family: Arial, Helvetica, sans-serif;
  //color: #00537c
  background-color: #FFF;
}
*/

// Margin background
body {
  font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
  background-color:#00537c;
  color: #000;
//background-color: #e8f4d6;
//  background-color: #e1efcb;
}

.home-orbit-container {
  @include twelve-columns;
  @include orbit-bullets-bottom-right;
}

