@import 'settings';
@import "foundation";

html {
  body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color:#00537c;
    color: #000;
    height: 100%;
  }
}

#wrap {
  @extend .row;
  min-height: 100%;
  background: #FFF;
}

#main {
  overflow: auto;
  padding-bottom: 145px; // must be same as footer height
}

#footer {
  position: relative;
  margin-top: -145px; // must be same as -(footer height)
  height: 145px;
  clear: both;
}
