<%# District 34 Events navigation %>
<ul class="dropdown">
  <li><%= link_to "Medallions", root_path %></li>
  <li><%= link_to "Birthdays", root_path %></li>
  <li><%= link_to "Special Events", root_path %></li>
</ul>
