<%# District 34 Events navigation %>
<ul class="dropdown">
  <li><%= link_to "Medallions", medallions_path %></li>
  <li><%= link_to "Birthdays", birthdays_path %></li>
  <li><%= link_to "Other Events", page_path('events') %></li>
</ul>
