<div class="row">
  <div class="small-12 content-columns">
    <hr>
  </div>
</div>

<div class="row">
  <div class="full-centered">
    <%= render 'layouts/footer_links' %>
  </div>
</div>

<div class="row">
  <div class="full-centered footer-text">
    <strong>INFORMATION &#8226; HELP &#8226; TALK &#8226; 1-877-961-2134</strong>
  </div>
</div>
