<div class="footer-links">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Meeting List", meetings_path %></li>
    <li><%= link_to "Events", page_path('events') %></li>
    <li><%= link_to "Contact Us", page_path('contact') %></li>
  </ul>
</div>
