<div class="row">
  <div class="large-4 columns">
    <div class=welcome>Welcome to</div>
    <div class=aaqe>AA in Quinte East</div>
  </div>
  <div class="large-4 columns">
  </div>
  <div class="large-4 columns">
    <div><span style="color:RoyalBlue">Alcoholics Anonymous</span></div>
    <div>INFORMATION &bull; HELP &bull; TALK</div>
    <div>
      <span style="color:RoyalBlue">If you want help to stop drinking call:</span>
    </div>
    <div class=head-phone>1-877-961-2134</div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name"><%= link_to 'Home', root_path %></li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <div class="top-bar-section">
      <ul>
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </nav>
  </div>
</div>
