<div class="row">
  <div class="large-12 columns">
    <%= image_tag "AA-header.jpg" %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name"><%= link_to 'Home', root_path %></li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <div class="top-bar-section">
      <ul>
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </nav>
  </div>
</div>
