<div class="row">
  <div class="large-12 columns">
    <%= image_tag "AA-header.jpg" %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <nav id='menu188id27' class='cmmMenu'>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </nav>
  </div>
</div>
